.button {
  display: inline-block;
  background: #fff;
  text-decoration: none;
  color: black;
  border: 1px black solid;
  padding: 0 1.5em;
  line-height: 2.5em;
  border-radius: 1.3em;
  position: relative;
  cursor: pointer;
}
.button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.button:hover:not([disabled]),
.button:hover {
  background: #eee;
}
.button:active:not([disabled]),
.button:active {
  background: #ddd;
  transform: translateY(1px);
}

.button--fill {
  display: block;
  width: 100%;
}

.button--circle {
  line-height: 0;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
}

.button--borderless {
  border-color: transparent;
}

.button--small {
  padding: 0.1em 0.3em;
  line-height: 1em;
  min-width: 1.3em;
  margin: 0.1em;
}
