---
import Layout from '@/server-components/layout.astro'
import OrderList from '@/client-components/order-list/order-list'
import CheckoutButton from '@/client-components/checkout-button'
---
<Layout>
    <h2>Check  out:</h2>
    <p>
      Review the items below, and to confirm your order. Or
      <a href="javascript:history.back()">Go Back</a>
      to shopping.
    </p>
    
    <OrderList client:load />
    
    <p>   
      <CheckoutButton client:load  />
    </p>
</Layout>
