---
import Layout from '../components/layout.astro'
import OrderList from '../components/order-list.jsx'
import CheckoutButton from '../components/checkout-button.jsx'
---
<Layout>
    <h2>Check  out:</h2>
    <p>
      Review the items below, and to confirm your order. Or
      <a href="javascript:history.back()">Go Back</a>
      to shopping.
    </p>
    
    <OrderList client:load />
    <p>   
      <CheckoutButton client:load  />
    </p>
</Layout>
