---
import Layout from '@/server-components/layout.astro'
---
<Layout>
    <p>
      Thanks for your order. You will not recieve your items. You also didn't pay for them. Now <a href="/">back to fake shopping!</a>
    </p>
</Layout>
